<!DOCTYPE html>
<html>
<head>
    <title>MedicAI Location Analysis</title>

    <style type="text/css">
        /* Set a size for our map container, the Google Map will take up 100% of this container */
        #map {
            position: fixed !important;
            width: 100%;
            height: 100%;
        }
    </style>

    <!--
        You need to include this script tag on any page that has a Google Map.

        The following script tag will work when opening this example locally on your computer.
        But if you use this on a localhost server or a live website you will need to include an API key.
        Sign up for one here (it's free for small usage):
            https://developers.google.com/maps/documentation/javascript/tutorial#api_key

        After you sign up, use the following script tag with YOUR_GOOGLE_API_KEY replaced with your actual key.
    -->

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdPDYdMJ8YhUx2vJBncVFBar48skM2tJ0"></script>

    <script type="text/javascript">
        // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 12,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(37.3093160, -122.0040510), // My home

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{"color": "#333739"}]
                }, {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [{"color": "#4c4c4c"}]
                }, {
                    "featureType": "poi",
                    "stylers": [{"color": "#4C4C4C"}, {"lightness": -7}]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [{"color": "#555555"}, {"lightness": -23}]
                }, {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{"color": "#555555"}, {"visibility": "off"}, {"lightness": -15}]
                }, {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [{"color": "#777777"}, {"lightness": -18}]
                }, {
                    "elementType": "labels.text.fill",
                    "stylers": [{"color": "#777777"}]
                }, {"elementType": "labels.text.stroke", "stylers": [{"visibility": "off"}]}, {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [{"color": "#666666"}, {"lightness": -34}]
                }, {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [{"visibility": "on"}, {"color": "#333739"}, {"weight": 0.8}]
                },]
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('map');

            // Create the Google Map using our element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);
            var diseaseToColor = {}
            var colors = ['#ff3030', '#ff34b3', '#ffc125', '#0000ff', '#00bfff',
   '#2e8b57', '#b23aee', '#2b908f', '#f45b5b', '#91e8e1']
            var locations = {{ data|safe }};
            console.log(locations.length)
            for (var i = 0; i < locations.length; i++) {
                var loc = locations[i]

                /*

                 var circle = new google.maps.Circle({
                 strokeColor: '#00CCFF',
                 strokeOpacity: 0.8,
                 strokeWeight: 2,
                 fillColor: '#0099CC',
                 fillOpacity: 0.35,
                 map: map,
                 center: {lat: loc[0], lng: loc[1]},
                 radius: 10000

                 })  */

                if (diseaseToColor[loc[2]] === undefined) {
                    diseaseToColor[loc[2]] = colors.shift()
                    var list = document.getElementById('legend');
                    var key = loc[2];
                    var entry = document.createElement('p');
                    entry.appendChild(document.createTextNode(loc[2]));
                    entry.style.backgroundColor = diseaseToColor[loc[2]];
                    entry.style.height = "50px";
                    entry.style.fontFamily = "Arial";
                    entry.style.margin = "0px";
                    entry.style.lineHeight = "50px";
                    entry.style.textAlign = "center";
                    list.appendChild(entry);
                    list.style.height = 50 * Object.keys(diseaseToColor).length + "px"
                }



                var marker = new google.maps.Marker({

                    position: new google.maps.LatLng(loc[0], loc[1]),
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        fillOpacity: 0.5,
                        fillColor: diseaseToColor[loc[2]],
                        strokeOpacity: 1.0,
                        strokeColor: diseaseToColor[loc[2]],
                        strokeWeight: 3.0,
                        scale: 50
                    },
                    map: map,
                    title: loc[2]
                });

                var infowindow = new google.maps.InfoWindow();

                google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
                return function () {
                    console.log(loc);
                    infowindow.setContent(locations[i][2]);
                    infowindow.open(map, marker);
                }
            })(marker, i));

            }


        }
    </script>
</head>
<body height="100%" width="100%;" style="margin:0px !important;">
<!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
<div id="mapContainer" style="width: 100%; height: 100%;">
    <h1 style="position:absolute; z-index: 999; color: white; padding: 30px 30px 30px 5px; font-family: 'Roboto'; font-weight: 400;">MedicAI Location Analysis</h1>
    <h2 style="position:absolute;"><a href="https://snazzymaps.com/style/53/flat-map" target="_blank">Flat Map</a></h2>
    <div id="map"></div> </div>
<div id="legend" style="position: fixed; width: 20%; background-color: white; left: 5%; bottom: 5%">

</div>
</body>
</html>
